/* IMPORT --START */
/* IMPORT --END */


/* KEYFRAME --START */
@keyframes rotationArrow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes ShowMenu {
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
        border-top: 3px solid #ec21af;
    }

    30% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
        border-top: 3px solid #ec9421;
    }

    100% {
        max-height: 50em;
        border-top: 3px solid #f5754e;
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }
}

@keyframes smoothColor {
    0% {
        color: #ec21af;
    }

    50% {
        color: #ec9421;
    }

    100% {
        color: #f5754e;
    }
}

@keyframes Sh {}

/* KEYFRAME --END */

/* BASIC --START */

* {
    color: #ecebda;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #323244;
    height: 100vh;
}

/* BASIC --END */

/* header --START*/
header {
    position: absolute;
    z-index: 99;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: fit-content;
}

header h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    letter-spacing: 5px;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#header-content {
    background-color: rgb(2, 1, 1);

}

.row {
    display: inline;
}

.svg-icon {
    width: 25px;
    height: 25px;
    margin: 1%;
    float: right;
    cursor: pointer;
}

/* header --END*/

/* Nav --START */
nav {
    width: 100%;
    font-size: 18px;
    --hauteur-menu: 60px;
}

nav>ul {
    display: flex;
    text-align: center;
    height: var(--hauteur-menu);
}

nav ul {
    list-style-type: none;
    margin-top: 0;
}

nav>ul>li {
    position: relative;
    height: 100%;
    flex: 1;
}

nav>ul>li>router-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li router-link {
    text-decoration: none;
}

.menu-deroulant>router-link:after {
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
}

.sous-menu>li>router-link:hover {
    text-decoration: underline;
    animation: smoothColor 1s 1;
    color: #f5754e;
}

.sous-menu>li>router-link {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
}

nav>ul>li:hover>router-link {
    animation: smoothColor 1s 1;
    color: #f5754e;
}

.menu-deroulant:hover>router-link:after {
    animation: rotationArrow 0.2s linear forwards;
}

.menu-deroulant:hover>.sous-menu {
    animation: ShowMenu 1s forwards;

}

/* Nav --END */

/* Search --START */
.search-content {
    width: 100%;
    height: 110px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

input[type="search"] {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 60%;
    height: 50%;
    border-radius: 5px;
}

input[type="search"]::placeholder {
    letter-spacing: 5px;
}

/* Search --END */

/* Banner  --START*/
/* Banner  --END*/



/* GLOBAL*/


.div-vitrine-row {
    padding: 0% 25%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    max-width: 2000;
    width: 100%;
}



.image {
    padding: 10px;
    overflow: hidden;

}

.image img {
    border: 1px solid white;
    width: 100%;
    max-width: 500px;
    max-height: 1000px;
    height: 100%;
    transition: 1s;
    cursor: zoom-in;

}

.image:hover img {
    transform: scale(2.5);
}



/* Footer --START*/
.div-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    background-color: #323244;
    color: #ecebda;
    display: flex;
    height: 100vh;
    width: 100%;
    line-height: 1.3;
    font-family: Menlo, monospace;
}


.div-footer ul {
    padding: 0rem 5rem;
    display: inline-grid;
    justify-items: center;
    margin: auto;


}

.div-footer ol {
    padding: 0.2rem 0rem;
    -webkit-box-shadow: -1px 6px 13px -5px rgba(6, 28, 61, 0.61);
    box-shadow: -1px 6px 13px -5px rgba(6, 28, 61, 0.61);
}



/* Footer -- FIN*/